* {
    border: 0;
    font-family: Hack Nerd Font Mono;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #18191a;
    color: #eceff4;
}

window#waybar:first-child > box {
    margin-top: 5px;
    padding: 8px 4px 4px 4px;
    border-radius: 0px 0px 0px 0px;
    background-color: transparent;
    border: 0px solid #88c0d0;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #4c566a;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #d8dee9;
}

#workspaces button.active {
    color: #d8dee9;
}

#custom-d, #clock, #pulseaudio {
    padding: 0 7px;
    margin: 2px 0px;
}

#mpd {
    margin: 0;
}

#pulseaudio {
  margin-right: -7px;
}

#custom-d {
    color: #4c566a;
}
